
.card img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    padding-top: 20px;
}

.card-content{
    margin-top: 10px;

}
.product-card-body {
    max-width: 300px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the card body horizontally */
  }
.card body{
    width: 200px;
}
